/*
    Components: Titles
    ---
    Title styles
*/

.c-title-page {
    @include mq(bp3) {
        @include ms8();
    }
}

.c-title-tagline {
    color: palette(color-neutral);
    text-transform: uppercase;
    letter-spacing: .5px;
    @include ms-1();
}
