/*
    Components: Styleguide
    ---
    Styleguide specific scaffolding and demo styles
*/

.c-styleguide-title {
    color: palette(color-neutral,dark);
    @include padding-top(1);
    @include text-dimensions($alpha-font-size,1);
}

.c-styleguide-toggle {
    background: white;
    border: 0;
    outline: 0;
    color: palette(color-alpha);

    > .c-symbol {
        position: relative;
        top: -2px;
        transition: transform .1s ease-in-out;
    }

    &.is-toggled > .c-symbol {
        transform: rotate(90deg);
    }
}

.c-styleguide-swatch {
    width: 100%;
    height: 60px;
    border-radius: $radius;
    border: $border-width $border-style palette(color-neutral, x-light);
    box-shadow: 0 10px 20px palette(color-neutral, light);
}

.c-styleguide-swatch-caption {
    color: palette(color-neutral);
    min-height: 55px;
    @include text-dimensions(14,.8,0,.5,.3);
}
