//
//  Tools: Mixins
//  ---
//  Global mixins
//

// Calculate text-color based on background-color

@mixin text-color($c1) {
    // Calculations based on https://vimeo.com/60224584
    @if (.2126*red($c1) + .7152*green($c1) + .0722*blue($c1))/255 <= .5 {
        color: mix(#FFF, $c1, 95%);
    } @else {
        color: mix(#000, $c1, 70%);
    }
}

//
// Media Query mixin
// @include mq(#point, #query1, #query2);
//

@mixin mq($breakpoint, $query1: min, $query2: width) {
    $query: map-get($breakpoints, $breakpoint);

    @if $query != null {
        @media (#{$query1}-#{$query2}: #{$query}) {
            @content;
        }
    } @else {
        @media (#{$query1}-#{$query2}: $breakpoint) {
            @content;
        }
    }
}

// Clearfix.
// @mixin clearfix

@mixin clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

// Prevent Long URL’s From Breaking Out of Container.
// http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container

@mixin word-break {
    word-break: break-all;
    hyphens: auto;
}

@mixin hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

// Modularscale

@mixin ms-3 {
    @include text-dimensions($ms-3,.25);
}

@mixin ms-2 {
    @include text-dimensions($ms-2,.5);
}

@mixin ms-1 {
    @include text-dimensions($ms-1,.75);
}

@mixin ms0 {
    @include text-dimensions($ms0,1);
}

@mixin ms1 {
    @include text-dimensions($ms1,1.25);
}

@mixin ms2 {
    @include text-dimensions($ms2,1.5);
}

@mixin ms3 {
    @include text-dimensions($ms3,1.75);
}

@mixin ms4 {
    @include text-dimensions($ms4,2);
}

@mixin ms5 {
    @include text-dimensions($ms5,2.25);
}

@mixin ms6 {
    @include text-dimensions($ms6,2.5);
}

@mixin ms7 {
    @include text-dimensions($ms7,2.75);
}

@mixin ms8 {
    @include text-dimensions($ms8,3);
}

@mixin ms9 {
    @include text-dimensions($ms9,3.25);
}

@mixin ms10 {
    @include text-dimensions($ms10,3.75);
}

@mixin ms11 {
    @include text-dimensions($ms11,4);
}
