---
layout: frame
title: Styleguide
section: styleguide
permalink: styleguide.html
---

<div class="l-Frame__left">
  <nav class="s-Navigation">
    <ul class="s-Navigation__list">
      <li class="s-Navigation__item">
        <a href="#base" class="s-Navigation__link">Base elements</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#colors" class="s-Navigation__link">Colors</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#buttons" class="s-Navigation__link">Buttons</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#forms" class="s-Navigation__link">Forms</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#alerts" class="s-Navigation__link">Alerts</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#pagination" class="s-Navigation__link">Pagination</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#helpers" class="s-Navigation__link">Helpers</a>
      </li>
      <li class="s-Navigation__item">
        <a href="#cards" class="s-Navigation__link">Cards</a>
      </li>
    </ul>
  </nav>
</div>
<div class="l-Frame__main">
  <div class="l-Row">
    <div class="l-Container">
      <h1 class="itp-PageTitle">{{ page.title }}</h1>
    </div>
  </div>

  <section id="base" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Base Elements</h2>

      {% include styleguide/base.html %}

    </div>
  </section>

  <section id="colors" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Colors</h2>

      {% include styleguide/colors.html %}

    </div>
  </section>

  <section id="buttons" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Buttons</h2>

      {% include styleguide/buttons.html %}

    </div>
  </section>

  <section id="forms" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Forms</h2>

      {% include styleguide/forms.html %}

    </div>
  </section>

  <section id="alerts" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Alerts</h2>

      {% include styleguide/alerts.html %}

    </div>
  </section>

  <section id="pagination" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Pagination</h2>

      {% include molecules/pagination.html %}

    </div>
  </section>

  <section id="helpers" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Helpers</h2>

      {% include styleguide/helpers.html %}

    </div>
  </section>

  <section id="cards" class="l-Row">
    <div class="l-Container">
      <h2 class="s-SectionTitle">Cards</h2>

      {% include styleguide/cards.html %}

    </div>
  </section>
</div>
