---
layout: sidebar
title: Patterns
section: styleguide
---
<div class="l-Row">
    <div class="l-Container">
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                <h1 class="itp-PageTitle">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>

<section id="base" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Base Elements</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-base.html %}
            </div>
        </div>
    </div>
</section>

<section id="colors" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Colors</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item u-1-of-1">
                {% include styleguide-colors.html %}
            </div>
        </div>
    </div>
</section>

<section id="buttons" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Buttons</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-buttons.html %}
            </div>
        </div>
    </div>
</section>

<section id="forms" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Forms</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-forms.html %}
            </div>
        </div>
    </div>
</section>

<section id="alerts" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Alerts</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-alerts.html %}
            </div>
        </div>
    </div>
</section>

<section id="pagination" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Pagination</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-pagination.html %}
            </div>
        </div>
    </div>
</section>

<section id="helpers" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Helpers</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-helpers.html %}
            </div>
        </div>
    </div>
</section>

<section id="cards" class="l-Row">
    <div class="l-Container">
        <h2 class="c-styleguide-title">Cards</h2>
        <div class="l-Grid l-Grid--gutter">
            <div class="l-Grid__item">
                {% include styleguide-cards.html %}
            </div>
        </div>
    </div>
</section>
