---
layout: default
title: Patterns
section: styleguide
---
<div class="c-row c-row--alpha">
    <div class="o-container">
        <div class="c-section">
            <h2 class="c-section-title">Base Elements</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-base.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">_elements.base.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-base">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-base is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-base.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Colors</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-colors.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">_trumps.colors.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-colors">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-colors is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-colors.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Buttons</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-buttons.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._components.buttons.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-buttons">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-buttons is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-buttons.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Lists</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-lists.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._components.lists.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-lists">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-lists is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-lists.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Forms</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-forms.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._components.forms.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-forms">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-forms is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-forms.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Alerts</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-alerts.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._components.alerts.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-alerts">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-alerts is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-alerts.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Pagination</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-pagination.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._components.pagination.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-pagination">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-pagination is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-pagination.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Helpers</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-helpers.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._trumps.helpers.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-helpers">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-helpers is-hidden">
                        {% highlight html linenos=table %}
                            % include styleguide-helpers.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Media object</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-media.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._objects.media.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-media">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-media is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-media.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Cards</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include styleguide-cards.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">._components.cards.scss</pre>
                    <button class="c-toggle js-show-hide" data-target-selector=".js-snippet-cards">
                        {% include symbol.html value="right" %} HTML snippet
                    </button>
                    <div class="js-snippet-cards is-hidden">
                        {% highlight html linenos=table %}
                            {% include styleguide-cards.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
