---
layout: sidebar
title: Patterns
section: styleguide
---
<div class="l-Row">
    <div class="l-Container">
        <h1 class="itp-PageTitle">{{ page.title }}</h1>
    </div>
</div>

<section id="base" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Base Elements</h2>

        {% include styleguide-base.html %}

    </div>
</section>

<section id="colors" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Colors</h2>

        {% include styleguide-colors.html %}

    </div>
</section>

<section id="buttons" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Buttons</h2>

        {% include styleguide-buttons.html %}

    </div>
</section>

<section id="forms" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Forms</h2>

        {% include styleguide-forms.html %}

    </div>
</section>

<section id="alerts" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Alerts</h2>

        {% include styleguide-alerts.html %}

    </div>
</section>

<section id="pagination" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Pagination</h2>

        {% include styleguide-pagination.html %}

    </div>
</section>

<section id="helpers" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Helpers</h2>

        {% include styleguide-helpers.html %}

    </div>
</section>

<section id="cards" class="l-Row">
    <div class="l-Container">
        <h2 class="s-SectionTitle">Cards</h2>

        {% include styleguide-cards.html %}

    </div>
</section>
