<div class="itp-Alert itp-Alert--error">
    <p><strong>Warning!</strong> Phasellus in massa. Curabitur dolor eros, <a href="#" class="itp-Alert__link">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <span class="itp-Alert__close">&times;</span>
</div>

<div class="itp-Alert itp-Alert--success">
    <p><strong>Good job!</strong> Phasellus in massa. Curabitur dolor eros, <a href="#" class="itp-Alert__link">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <span class="itp-Alert__close">&times;</span>
</div>

<div class="itp-Alert itp-Alert--notice">
    <p><strong>For your information.</strong> Phasellus in massa. Curabitur dolor eros, <a href="#" class="itp-Alert__link">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <span class="itp-Alert__close">&times;</span>
</div>
