<h1>Level 1 Heading</h1>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<h2>Level 02 Heading</h2>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<h3>Level 03 Heading</h3>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<h4>Level 04 Heading</h4>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<blockquote cite="http://google.be">
    <p>Paragraph inside Blockquote: Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Sed scelerisque sagittis lorem.</p>
</blockquote>

<p>
    <small>Small element Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur molestiae voluptates fuga, reprehenderit nostrum ratione. Itaque nostrum quidem, assumenda delectus, quo, illum nam voluptas commodi pariatur at molestias velit sequi!</small>
</p>

<ul>
    <li>Unordered list 01</li>
    <li>Unordered list 02</li>
    <li>Unordered list 03
        <ul>
            <li>Unordered list inside list level 2</li>
            <li>Unordered list inside list level 2
                <ul>
                    <li>Unordered list inside list level 3</li>
                    <li>Unordered list inside list level 3</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<ol>
    <li>Ordered list 01</li>
    <li>Ordered list 02</li>
    <li>Ordered list 03
        <ol>
            <li>Ordered list inside list level 2</li>
            <li>Ordered list inside list level 2
                <ol>
                    <li>Ordered list inside list level 3</li>
                    <li>Ordered list inside list level 3</li>
                </ol>
            </li>
        </ol>
    </li>
</ol>

<dl>
    <dt>Description list title 01</dt>
    <dd>Description list description 01</dd>
    <dt>Description list title 02</dt>
    <dd>Description list description 02</dd>
    <dd>Description list description 03</dd>
</dl>

<table class="l-Table" summary="Dit is de samenvatting">
    <caption>Dit is de titel</caption>
    <thead>
        <tr>
            <th id="year">Year</th>
            <th id="opponent">Opponent</th>
            <th id="record" abbr="Record">Season Record (W-L)</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td headers="Year">1900</td>
            <td headers="Opponent">Last</td>
            <td headers="Record">00-00</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td headers="Year">1918</td>
            <td headers="Opponent">Chicago Cubs</td>
            <td headers="Record">75-51</td>
        </tr>
        <tr>
            <td headers="Year">1915</td>
            <td headers="Opponent">Philadelphia Phillies</td>
            <td headers="Record">101-50</td>
        </tr>
        <tr>
            <td headers="Year">1918</td>
            <td headers="Opponent">Chicago Cubs</td>
            <td headers="Record">75-51</td>
        </tr>
        <tr>
            <td headers="Year">1915</td>
            <td headers="Opponent">Philadelphia Phillies</td>
            <td headers="Record">101-50</td>
        </tr>
    </tbody>
</table>
