<div class="l-Grid l-Grid--gutter l-Grid--equalHeight">
  <div class="l-Grid__item u-Width1of2--bp3">
    <div class="itp-Card itp-Card--primary">
      <div class="itp-Card__header">
        <h3 class="itp-Card__title">Card title</h3>
      </div>
      <div class="itp-Card__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor massa, at commodo tortor pharetra ut. Phasellus sit amet fringilla massa. Aliquam ante felis, pharetra dignissim quam vitae, molestie sollicitudin ante. Morbi felis elit, euismod nec scelerisque hendrerit, dignissim ac leo. Praesent a tortor blandit ipsum bibendum dapibus. Duis at ante vel ex congue egestas. Praesent vel dui euismod, tristique urna nec, posuere dui.</p>
      </div>
      <div class="itp-Card__footer">
        <p><a href="#!">Read more</a></p>
      </div>
    </div>
  </div>
  <div class="l-Grid__item u-Width1of2--bp3">
    <div class="itp-Card itp-Card--primary">
      <div class="itp-Card__header">
        <h3 class="itp-Card__title">Card title</h3>
      </div>
      <div class="itp-Card__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor massa, at commodo tortor pharetra ut. Phasellus sit amet fringilla massa. Aliquam ante felis, pharetra dignissim quam vitae, molestie sollicitudin ante. Morbi felis elit, euismod nec scelerisque hendrerit, dignissim ac leo.</p>
      </div>
      <div class="itp-Card__footer">
        <p><a href="#!">Read more</a></p>
      </div>
    </div>
  </div>
</div>
