<!-- Text colors -->
<h3>Neutral colors</h3>
<div class="l-Grid l-Grid--gutter">
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchWhite"></div>
    <p class="s-SwatchCaption">White</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchNeutral100"></div>
    <p class="s-SwatchCaption">Neutral 100</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchNeutral200"></div>
    <p class="s-SwatchCaption">Neutral 200</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchNeutral300"></div>
    <p class="s-SwatchCaption">Neutral 300</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchNeutral400"></div>
    <p class="s-SwatchCaption">Neutral 400</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchNeutral500"></div>
    <p class="s-SwatchCaption">Neutral 500</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchBlack"></div>
    <p class="s-SwatchCaption">Black</p>
  </div>
</div>
<!-- End text colors -->
<br>
<!-- UI colors -->
<h3>UI colors</h3>
<div class="l-Grid l-Grid--gutter">
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchPrimary100"></div>
    <p class="s-SwatchCaption">Primary 100</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchPrimary200"></div>
    <p class="s-SwatchCaption">Primary 200</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchPrimary300"></div>
    <p class="s-SwatchCaption">Primary 300</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchPrimary400"></div>
    <p class="s-SwatchCaption">Primary 400</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchPrimary500"></div>
    <p class="s-SwatchCaption">Primary 500</p>
  </div>
  <div class="l-Grid__item u-Width1of2 u-Width1of4--bp3">
    <div class="s-Swatch s-SwatchPrimary"></div>
    <p class="s-SwatchCaption">Primary</p>
  </div>
</div>
<!-- End UI colors -->
