<nav class="itp-Navigation">
    <ul class="itp-Navigation__list">
        <!-- Manually define homepage link -->
        <li class="itp-Navigation__item{% if page.section == "home" %} isSelected{% endif %}">
            <a href="{{ site.github.url }}/" class="itp-Navigation__link">Home</a>
        </li>

        <!-- Define your site navigation in _config.yml -->
        {% for item in site.navigation %}
        <li class="itp-Navigation__item{% if page.url contains item.url %} isSelected{% endif %}">
            <a href="{{ site.github.url }}/{{ item.url }}" class="itp-Navigation__link">{{ item.title | capitalize }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
