
<form action="#" method="post">
    <h3>Standard contact form </h3>

    <div class="itp-Alert itp-Alert--error">
        <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#" class="itp-Alert__link">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
        <span class="itp-Alert__close js-hide">&times;</span>
    </div>

    <fieldset>
        <p>
            <label for="form-field-2" class="itp-Label">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-2" type="text" placeholder="Full Name" class="itp-InputText itp-InputText--md" />
        </p>
        <p>
            <label for="form-field-3" class="itp-Label has-error">Email address<abbr title="Required field">*</abbr></label>
            <input id="form-field-3" class="itp-InputText itp-InputText--md has-error" type="email" placeholder="email@address.com" />
            <span class="c-alert-inline c-alert-inline--error">This field is required.</span>
        </p>
        <p>
            <label for="form-field-4" class="itp-Label">Message<abbr title="Required field">*</abbr></label>
            <textarea class="itp-InputText itp-InputText--md" id="form-field-4" rows="5" cols="30"></textarea>
        </p>
        <p>
            <input type="submit" class="itp-Button itp-Button--md itp-Button--primary" value="Send" />
        </p>
    </fieldset>
</form>

<hr />

<form action="#" method="post">
    <h3>Form built with grids</h3>

    <fieldset>
        <div class="l-Grid l-Grid--gutter">
            <p class="l-Grid__item u-Width1of2--bp3">
                <label class="itp-Label">Name<abbr title="Required field">*</abbr></label>
                <input type="text" class="itp-InputText itp-InputText--md" placeholder="Full Name" />
            </p>
            <p class="l-Grid__item u-Width1of2--bp3">
                <label class="itp-Label">Email address<abbr title="Required field">*</abbr></label>
                <input type="email" class="itp-InputText itp-InputText--md" placeholder="email@address.com" />
            </p>
        </div>

        <div class="l-Grid l-Grid--gutter">
            <p class="l-Grid__item u-Width3of5--bp4">
                <label class="itp-Label">Street<abbr title="Required field">*</abbr></label>
                <input type="text" class="itp-InputText itp-InputText--md" placeholder="Street" />
            </p>
            <p class="l-Grid__item u-Width2of5--bp4">
                <label class="itp-Label">Number<abbr title="Required field">*</abbr></label>
                <input type="text" class="itp-InputText itp-InputText--md" placeholder="Number" />
            </p>
        </div>

        <div class="l-Grid l-Grid--gutter">
            <p class="l-Grid__item u-Width2of5--bp4">
                <label class="itp-Label">Zip code<abbr title="Required field">*</abbr></label>
                <input type="text" class="itp-InputText itp-InputText--md" placeholder="Zip code" />
            </p>
            <p class="l-Grid__item u-Width3of5--bp4">
                <label class="itp-Label has-error">City<abbr title="Required field">*</abbr></label>
                <input type="text" class="itp-InputText itp-InputText--md has-error" placeholder="City" />
                <span class="c-alert-inline c-alert-inline--error">This field is required.</span>
            </p>
        </div>

        <div class="l-Grid l-Grid--gutter">
            <p class="l-Grid__item">
               <label class="itp-Label">Message<abbr title="Required field">*</abbr></label>
                <textarea class="itp-InputText itp-InputText--md" rows="5" cols="30"></textarea>
            </p>
        </div>

        <div class="l-Grid l-Grid--gutter">
            <p class="l-Grid__item itp-ButtonGroup">
                <input type="submit" class="itp-Button itp-Button--md itp-Button--primary" value="Volgende" />
                <a href="#" class="itp-Button itp-Button--md itp-Button--secondary">Vorige</a>
            </p>
        </div>
    </fieldset>
</form>
