<h3>
    Different types
</h3>
<p>
    <a class="itp-Button itp-Button--primary itp-Button--md" href="#" role="button">Link</a>
    <button class="itp-Button itp-Button--primary itp-Button--md" type="submit">Button</button>
    <input class="itp-Button itp-Button--primary itp-Button--md" type="submit" value="Submit">
</p>
<br>
<h3>
    Button colors
</h3>
<p>
    <a class="itp-Button itp-Button--primary itp-Button--md" href="#" role="button">Alpha Color</a>
    <a class="itp-Button itp-Button--secondary itp-Button--md" href="#" role="button">Beta Color</a>
</p>
<br>
<h3>
    Button sizes
</h3>
<p>
    <a class="itp-Button itp-Button--primary itp-Button--sm" href="#" role="button">Small button</a>
    <a class="itp-Button itp-Button--primary itp-Button--md" href="#" role="button">Normal button</a>
    <a class="itp-Button itp-Button--primary itp-Button--lg" href="#" role="button">Big button</a>
</p>
<br>
<h3>
    Block button
</h3>
<p>
    <a href="#" class="itp-Button itp-Button--primary itp-Button--md itp-Button--block">Block Button</a>
</p>
<br>
<h3>
    Disabled button
</h3>
<p>
    <button class="itp-Button itp-Button--primary itp-Button--md" type="submit" disabled>Button</button>
    <input class="itp-Button itp-Button--primary itp-Button--md" type="button" value="Input" disabled>
    <input class="itp-Button itp-Button--primary itp-Button--md" type="submit" value="Submit" disabled>
</p>
