<h3>
    Different types
</h3>
<p>
    <a class="c-button c-button--alpha c-button--md" href="#" role="button">Link</a>
    <button class="c-button c-button--alpha c-button--md" type="submit">Button</button>
    <input class="c-button c-button--alpha c-button--md" type="submit" value="Submit">
</p>
<br>
<h3>
    Button colors
</h3>
<p>
    <a class="c-button c-button--alpha c-button--md" href="#" role="button">Alpha Color</a>
    <a class="c-button c-button--beta c-button--md" href="#" role="button">Beta Color</a>
</p>
<br>
<h3>
    Button sizes
</h3>
<p>
    <a class="c-button c-button--alpha c-button--sm" href="#" role="button">Small button</a>
    <a class="c-button c-button--alpha c-button--md" href="#" role="button">Normal button</a>
    <a class="c-button c-button--alpha c-button--lg" href="#" role="button">Big button</a>
</p>
<br>
<h3>
    Block button
</h3>
<p>
    <a href="#" class="c-button c-button--alpha c-button--md c-button--block">Block Button</a>
</p>
<br>
<h3>
    Disabled button
</h3>
<p>
    <button class="c-button c-button--alpha c-button--md" type="submit" disabled>Button</button>
    <input class="c-button c-button--alpha c-button--md" type="button" value="Input" disabled>
    <input class="c-button c-button--alpha c-button--md" type="submit" value="Submit" disabled>
</p>
