/*
    Components: Card
    ---
    A card displays site content in a manner similar to a playing card.
*/
/*
 * 1. Make card flex in order for children to stretch
 *
 * 2. Make body stretch height when card fills in the whole space.
*/

.itp-Card {
  display: flex; /* [1] */
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

  .itp-Card__header {
    padding: var(--spacingBase);
  }

  .itp-Card__title {
    margin-bottom: 0;
  }

  .itp-Card__body {
    flex: 1; /* [2] */
    padding: var(--spacingBase);
  }

  .itp-Card__footer {
    padding: var(--spacingBase) var(--spacingBase) 0;
  }

/*
 * Modifier: Styles
*/

.itp-Card--primary {
  background-color: var(--colorWhite);
  box-shadow: 0 5px 25px rgba(0,0,0,.1), 0 10px 10px rgba(0,0,0,.05);
}

.itp-Card--primary > .itp-Card__body + .itp-Card__body {
  border-top: var(--borderWidth) var(--borderStyle) var(--colorNeutral100);
}

/*
 * Modifiers: Sizing
*/

@media (--bp3) {
  .itp-Card--lg > .itp-Card__body {
    padding: var(--spacingLarge);
  }
}
