/*
    Component: Footer
    ---
    Application footer styles
*/
.itp-Footer {
  position: relative;
  padding: var(--spacingBase);
  background-color: var(--colorWhite);
  border-top: 1px solid var(--colorNeutral100);
}

@media(--bp3) {
  .itp-Footer {
    padding: calc(var(--spacingBase) * 2) var(--spacingLarge);
  }
}
