/*
    Component: Header
    ---
    Application header styles
*/

.itp-Header {
    padding: var(--spacingBase);
    box-shadow: 0 0 50px var(--colorNeutral100);
}

@media(--bp3) {
    .itp-Header {
        padding: var(--spacingLarge);
    }
}
