/*
    Components: Label
    ---
    Form label styles
*/
/**
 *  1. When wrapped inside a FormItem component, the Label component should be place first.
 *
 *  2. Disable font ligatures because of small font sizing.
 */
.itp-Label {
  order: 1; /* 1 */
  font-weight: var(--fontWeightSecondary);
  font-variant-ligatures: none; /* 2 */
}

.itp-Label.hasError {
  color: var(--colorError);
}
