/*
    Component: Navigation
    ---
    Site navigation
*/
.itp-Navigation {}

  .itp-Navigation__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .itp-Navigation__item {
    font-size: calc(var(--ms-1) / var(--fontSizePrimary) * 1rem);
  }

  .itp-Navigation__item + .itp-Navigation__item {
    margin-left: 1rem;
  }

  .itp-Navigation__link,
  .itp-Navigation__link:visited {
    color: var(--colorPrimary300);
    text-decoration: none;
  }

  .itp-Navigation__link:hover {
    color: var(--colorPrimary);
    text-decoration: none;
  }

  .isSelected .itp-Navigation__link {
    color: var(--colorPrimary);
  }
