/*
    Component: Page introduction
    ---
    Page introduction styles
*/

.itp-PageIntro {
    color: var(--colorNeutral400);
    font-size: calc(var(--ms2) / var(--fontSizePrimary) * 1rem);
}

@media (--bp4) {
    .itp-PageIntro {
        font-size: calc(var(--ms3) / var(--fontSizePrimary) * 1rem);
        line-height: 1.5em;
    }
}
