/*
    Component: Page title
    ---
    Big page title styles
*/

.itp-PageTitle {
    color: var(--colorPrimary);
    font-weight: var(--fontWeightTertiary);
    font-size: calc(var(--ms7) / var(--fontSizePrimary) * 1rem);
    border-bottom: var(--borderWidth) var(--borderStyle) var(--colorNeutral100);
}

@media (--bp4) {
    .itp-PageTitle {
        font-size: calc(var(--ms10) / var(--fontSizePrimary) * 1rem);
    }
}
