<!DOCTYPE html>
<html>

{% include head.html %}

<body class="l-Frame">

    <!-- Deprecated browser alert -->
    {% include alert-outdated-browser.html %}
    <!-- End deprecated browser alert -->

    <!-- Page header -->
    <header class="l-Frame__header">
        {% include page-header.html %}
    </header>
    <!-- End page header -->

    <div class="l-Frame__body">
        <div class="l-Frame__main">
            {{ content }}
        </div>
    </div>

    <!-- Page footer -->
    <footer class="l-Frame__footer">
        {% include page-footer.html %}
    </footer>
    <!-- End page footer -->

    <!-- Footer javascript -->
    {% include javascript.html %}
    <!-- End footer javascript -->

</body>
</html>
