<!DOCTYPE html>
<html>

{% include _generics/head.html %}

<body class="l-Frame">

    <!-- Page header -->
    <header class="l-Frame__header">
        {% include organisms/page-header.html %}
    </header>
    <!-- End page header -->

    <div class="l-Frame__body">

            {{ content }}

    </div>

    <!-- Page footer -->
    <footer class="l-Frame__footer">
        {% include organisms/page-footer.html %}
    </footer>
    <!-- End page footer -->

    <!-- Footer javascript -->
    {% include _generics/javascript.html %}
    <!-- End footer javascript -->

</body>
</html>
